.menu {
  display: flex;
}

.menu-item {
  #-webkit-box-shadow: 0px 5px 10px -6px rgb(43, 42, 42);
  #-moz-box-shadow: 0px 5px 10px -6px rgb(43, 42, 42);
  #box-shadow: 0px 5px 10px -6px rgb(43, 42, 42);
  #border-radius: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.menu-item.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.menu-item + .menu-item{
  margin-left: 12px;
}

.menu-item .icon {
  color: #EAEAEA !important;
}

.product-lists {
  #background: #5565BD;
  padding: 11px;
}

.product-draft-lists {
  #background: #55bdaa;
  #background: #bd5555;
  padding: 10px 11px;
}

.new {
  background: #E4E4E4;
  float: right;
}

.selector {
  border-radius: 2px;
  width: 4px;
  height: 4px;
  background: #EAEAEA;
  position: absolute;
  left: 18px;
  bottom: 0;
}
